{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Choose a Contract{% endblock %}

{% block content %}

<p> This is round number {{subsession.round_number}}. You will be matched in a group of {{Constants.players_per_group}} players. Your Random Number this round is {{player.type}} and you have {{Constants.endowment}} in your Individual Account.
</p>

{% formfields %}

{% next_button %}

<h4> Summary Information:</h4>

<style>
.boxed {
  background-color: lightgrey;
  width: 900px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</style>

<button onclick="myFunction()">Show/Hide Summary Info</button>

<div class="boxed" id="myDIV" style="display:none"> <!-- display none is to hide by default -->

<p> <b>Number of Rounds and Dollar Earnings:</b> This experiment consists of 10 decision rounds, in these rounds you can earn Tokens. At the end of the experiment these Tokens will be converted into US dollars at an exchange rate of 8 Tokens = $1.
In addition to this, each group member will receive a $5 show up fee.
</p>

<p> <b>Random Number:</b> The computer will randomly and independently draw a number for each member of the group. This Random Number can be either 0.2, with probability 80%, or 0.4 with probability 20%.
</p>

<p> <b>Earnings from Individual Account</b> =  80 - the Tokens a member allocated to the Group Account + Tokens refunded (If there are 69 Tokens or less in the Group Account).
</p>

<p> <b>Earnings from Group Account </b> =  <b><i>can be either</i></b>
 <ul>
 <li> the member’s Random Number × Total Tokens in the Group Account (If there are 70 Tokens or more in the Group Account)  <b>or</b>
 </li>
 <li> 0 (zero) (If there are 69 Tokens or less in the Group Account).
 </li>
 </ul>
</p>

<p> <b>Each round, the 3 Contracts offered to each group member are:</b>
    <ul>
    <li> <b> Contract 1: </b> Allocate 0 Tokens to the Group Account and receive their earnings from the Group Account + earnings from their Individual Account
    </li>
    <li> <b> Contract 2: </b> Allocate 13 Tokens to the Group Account and receive their earnings from the Group Account + earnings from their Individual Account
    </li>
    <li> <b> Contract 3: </b> Allocate 43 Tokens to the Group Account and receive their earnings from the Group Account + earnings from their Individual Account + receive 16 extra Tokens if there are 70 Tokens or more in the Group Account.
    </li>
    </ul>
</p>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% endblock %}
